*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
*.db
*.ipch
app/src/main/cpp/logic/x64/
app/src/main/cpp/logic/.vs/shkuba/CopilotIndices/
app/src/main/cpp/logic/.vs/

app/src/main/cpp/logic/shkuba/x64/
